<mat-toolbar class="header" color="primary">
  <a mat-button href="/home">dynamic-forms-stackblitz</a>
  <button mat-button [matMenuTriggerFor]="examples">
    <div class="button-content">Examples<mat-icon>arrow_drop_down</mat-icon></div>
  </button>

  <mat-menu #examples="matMenu">
    <a mat-menu-item routerLinkActive="router-link-active" [routerLink]="['..', 'bootstrap']">Bootstrap</a>
    <a mat-menu-item routerLinkActive="router-link-active" [routerLink]="['..', 'material']">Material</a>
  </mat-menu>

  <div class="header-spacer"></div>
  <a mat-icon-button href="https://github.com/dynamic-forms/dynamic-forms-stackblitz" target="_blank">
    <mat-icon svgIcon="github" />
  </a>
  <a mat-icon-button href="https://stackblitz.com/edit/dynamic-forms-stackblitz" target="_blank">
    <mat-icon svgIcon="stackblitz" />
  </a>
</mat-toolbar>
