/* You can add global styles to this file, and also import other style files */

@import "@dynamic-forms/core/assets/scss/grid";
@import "@dynamic-forms/bootstrap/assets/scss/theme";
@import "@dynamic-forms/material/assets/scss/theme";
@import "@dynamic-forms/markdown/assets/scss/markdown";

.dynamic-form-wrapper {
  width: 100%;

  .dynamic-form {
    &:not(.maximized) {
      max-width: 800px;

      &.small {
        max-width: 600px;
      }
    }
  }
}

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
